.content__catch {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.content__image {
  width: 96px;
  height: 96px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
}

.content__button {
  width: 160px;
  padding: 10px 20px;
  margin: 20px 0;
  border: 1px solid transparent;
  border-radius: 20px;
  color: white;
  background: linear-gradient(to right bottom, #9ada97, #2ccda8 88%);
}

.content__moves h3,
.content__types h3 {
  text-align: left;
  margin-bottom: 0;
  font-size: 1.2em;
}

.content__moves .cards,
.content__types .cards {
  max-height: 285px;
  margin-top: 10px;
  padding-top: 0;
}
.content__info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #d4d4d5;
  padding-bottom: 10px;
}
.info__weight {
  width: 50%;
  border-right: 1px solid #d4d4d5;
}
.info__height {
  width: 50%;
}
.subtitle {
  font-size: 0.7em;
  color: #666b7a;
}
.title {
  font-size: 1.2em;
}

@media (max-width: 414px) {
  .content__moves h3,
  .content__types h3 {
    font-size: 1em;
  }
}
