.card {
  max-width: 100%;
  width: 98%;
  height: 45px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #d4d4d5;
  margin: 6px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.card__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.card__content--link, .card__content--link-remove {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.card__content--link-remove {
  width: calc(100% - 112px);
}

.card__content--delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding-left: 6px;
  background-color: rgba(211, 211, 211, 0.3);
  color: lightslategrey;
  font-size: 0.9em;
  cursor: pointer;
}

.card__image {
  width: 28px;
  height: 28px;
}

.card__content--description {
  text-align: left;
  padding: 2.5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
